*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body{display: grid;
   grid-template-columns: 1fr 5fr;
   grid-template-rows: 1fr 5fr;
   height: 100vh;
   overflow: hidden;

   
}
.sidebar{
    background-color: rgb(28, 102, 249);
    color: white;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: 100%;
   gap: 30px;
   font-size: 18px;
   grid-row: 1/3;
}

.sidebar img {
    filter: invert(1);
}

.Dashboard,
.home-bar > div,
.settings-bar > div {
   margin-bottom: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.Dashboard{
    gap: 1px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 10px;
}

.home-bar > div:hover,
.settings-bar > div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor:pointer;
    transition: 0.3s;
}

.Bell-img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 100%;
}

.Top {
    padding: 5px 50px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.Search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Search input {
    border: none;
    background-color: rgb(226, 232, 240);
    border-radius: 20px;
    height: 30px;
    width: 600px;
    padding: 0 15px;
}

.Account{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 50px;

}

.Top-one{
    display: flex;
    align-items: center;
    justify-content: space-between;;
}
.Welcome{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 40px;}

.Horse-img{
    grid-row: 1/3;
}


.buttons>span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.buttons>span:hover {
    background-color: #0056b3;
}

.Top-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Main{
     padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: rgb(226, 232, 240);
}

.projects-section{
    grid-row: 1/3;
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.project-card{
background-color: white;
 border-left: 5px solid orange; 
  border-radius: 10px;
 padding: 40px 20px 80px;
  position: relative;
}
.project-icons{
position: absolute;
    bottom: 10px; 
    right: 10px; 
    padding-top: 0; 
    padding-left: 0; 
}

.project-icons> img {
    margin-right: 10px;
}

.projects-section img {
    height: 20px;
    width: auto; 
}
.trending-section img{
    height: 60px;
}


.announcement-grid{
    border-radius: 10px;
     padding: 20px;
     background-color: white;
     display: grid;
     grid-template-rows: auto;
     gap: 20px;

}

.announcement{
    align-self: center;
}

.row-border{
    border-top: 2px dashed gray;
    grid-column: 1 / 5;
}

.trending-section{
    display: flex;
    flex-direction: column;
     border-radius: 10px;
     padding: 20px;
     background-color: white;
}

.trending-grid{

     display: grid;
     grid-template-rows: auto;
     gap: 10px;

}
.trending-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.trending-profile{
    align-self: center;
}