*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body{display: grid;
   grid-template-columns: 1fr 5fr;
   grid-template-rows: 1fr 3fr;
   
}
.sidebar{
    background-color: rgb(28, 102, 249);
    color: white;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: 100vh;
   gap: 30px;
   font-size: 18px;
   grid-row: 1/3;
}

.sidebar img {
    filter: invert(1);
}

.Dashboard,
.home-bar > div,
.settings-bar > div {
   margin-bottom: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.Dashboard{
    gap: 0px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 10px;
}

.home-bar > div:hover,
.settings-bar > div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor:pointer;
    transition: 0.3s;
}

.Bell-img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 100%;
}

.Main{
    background-color: rgb(226, 232, 240);
    

}

.Top {
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.Search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Search input {
    border: none;
    background-color: rgb(226, 232, 240);
    border-radius: 20px;
    height: 30px;
    width: 700px;
    padding: 0 15px;
}

.Account{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 50px;

}

.Top-one{
    display: flex;
    align-items: center;
    justify-content: space-between;;
}
.Welcome{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 40px;}

.Horse-img{
    grid-row: 1/3;
}
